.header {
  background-image: url("https://c8.alamy.com/comp/DGN19D/euro-vs-the-pound-DGN19D.jpg");
  width: 100%;
  min-height: 100px;
  text-align: center;
  padding: 50px 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.header__navigation {
  font-size: 30px;
  letter-spacing: 5px;
  text-decoration: none;
  color: midnightblue;
  }

